<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>메모</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1 th:if="${param.create}" th:text="'메모 추가 성공'"></h1>

    <h2>제목</h2>
    <input type="text" th:value="${title}" readonly>
    <h2>내용</h2>
    <textarea cols="30" rows="10" th:text="${content}" readonly></textarea>
    <br>
    <button>수정</button>
    <button onclick="location.href='memo_list.html'"
            th:onclick="|location.href='@{/list}'|"
            type="button">목록</button>
</body>
</html>