<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>편집</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>메모 편집</h1>

    <h2>제목</h2>
    <input>

    <button>완료</button>

    <button onclick="location.href='memo_list.html'"
            th:onclick="|location.href='@{/list}'|"
            type="button">목록으로</button>

    <button onclick="location.href='item/memo.html'"
            th:onclick="|location.href='@{memo/{id}(id=${id})}'|"
            type="button">취소</button>
</body>
</html>